body{
    font-family: sans-serif;
    background: radial-gradient(circle, rgba(50,50,50,1) 0%, rgba(38,38,38,1) 60%, rgb(16, 16, 16) 100%);
}

.formRegister{
    color: whitesmoke;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formRegister .formWrapper{
    background-color: rgba(0, 0, 0, 0.179);
    padding: 30px 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

}


.formRegister .formWrapper .logoRegister{
    width: 25vh;
}
.formRegister .formWrapper .title{
    color: rgba(255, 255, 255, 0.866);
    font-size: 20px;
    margin-bottom: 10px;
}

.formRegister .formWrapper form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.formRegister .formWrapper .inputForm{
    padding: 15px;
    border: none;
    width: 300px;
    height: 10px;
    border-radius: 5px;
    &::placeholder{
        color: rgba(0, 0, 0, 0.426);
    }
}

.formRegister .formWrapper .submitButton{
    background-color: rgb(255, 208, 0);
    color: rgba(0, 0, 0, 0.866);
    padding: 10px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.formRegister .formWrapper p{
    color: rgba(255, 255, 255, 0.866);
    font-size: 14px;
    margin-top: 10px;
}

.formRegister .formWrapper a{
    color: rgb(255, 208, 0);
    text-decoration: none;
}

  /* =================alret=================*/
  
  .custom-pop-up{
    background-color: rgba(55, 55, 55, 0.776);
    color: rgb(231, 231, 231);
  }

  /* =================navbar=================*/


  .submitButton{
    background-color: rgb(255, 208, 0);
    color: rgba(0, 0, 0, 0.866);
    padding: 4px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.container{
  background-color: rgb(15, 15, 15);
  margin-top: 10px;
  border-radius: 10px;
}

.list-group-item{
  background-color: rgb(31, 31, 31);
  border-color: black;
  color: white;
  height: 60px;
}


  