.valo-bg {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to right, rgba(0,0,0,0.70), rgba(0,0,0,0.70), rgba(0,0,0,0.50), rgba(0,0,0,0.0), rgba(0,0,0,0), rgba(0,0,0,0)), url("../src/assets/hero-agents-valorant-riot-video-game-wallpaper-2560x1080_14.jpg");
  background-repeat: no-repeat;
  /* filter: blur(8px); */
  /* -webkit-filter: blur(8px); */
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.dust2-left-bg {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.70), rgba(0,0,0,0.70)), url("../src/assets/dust2-left-edit.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.page-bg {
  background-color: #254059;
}

.nuke-bg {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.70), rgba(0,0,0,0.70)), url("../src/assets/nuke.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.login-white {
  text-align: center;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 12%;
}

.login-content {
  width: 35%;
  padding-top: 10%;
  margin-left: 7%;
}

.white {
  color:white;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
}

.button-home {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

.cards-layout{
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  margin-left: 5%;
}

.card-content{
  justify-content:center;
}

.single-card{
  margin: 7px;
}

.test{
  justify-content: center;
}
